@mixin li-hover {
  background: #3875d7;
  color: #fff;
}
 
.autocomplete-input--select-drop {
  background: white;
  border: 1px solid #aaa;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
 
  ul {
    color: #000;
    list-style: none;
    margin: 4px 0;
    padding: 0;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    & li u {
      font-weight: bold
    }
    & li {
      padding: 3px 7px 4px;
      margin: 0;
      cursor: pointer;
      min-height: 1em;
      cursor: pointer;
    }
    & li.active {
      @include li-hover;
    }
    &.mouse li:hover {
      @include li-hover;
    }
  }
}