body{
	background-image: url('http://static1.squarespace.com/static/53b6fd6be4b03666411455cb/53c86a1fe4b0cb805d368ce8/53c86a72e4b03157ad24080b/1405643412749/_DSF9054-Edit.jpg');
	color: white;
	background-size: cover;
	opacity: 0.5;
}